@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
}

body {
    overflow-x: hidden;
    background-color: #fff;
}

header {
    padding: 60px 0px 70px 0px;
    background-color: hsl(193, 100%, 96%);
    background-image: url(./images/bg-hero-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

nav, .hero {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    margin-top: 44px;
    gap: 75px;
}

h1 {
    font-size: 2.2rem;
}

h1, h2, h3 {
    color: hsl(192, 100%, 9%);
    font-weight: 600;
    line-height: 3rem;
    font-family: 'Poppins', sans-serif;
}

.hero-info p {
    padding: 50px 0px 35px 0px;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    color: hsl(208, 11%, 55%);
}

nav button {
    padding: 15px 60px 18px 60px;
    border-style: none;
    border-radius: 35px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 6px 3px hsl(191, 24%, 87%);
    font-weight: 700;
    color: hsl(208, 11%, 55%);
}

.hero img {
    width: 54%;
}

.hero-info button, .build-community button {
    padding: 20px 70px ;
    border-style: none;
    border-radius: 35px;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
    box-shadow: 2px 2px 6px 3px hsl(191, 24%, 87%);
    font-weight: 400;
    color: #fff;
    /* margin-top: 35px; */
}

.build-community button {
    padding: 30px 100px;
    border-radius: 45px;
}

.hero-info button:hover, .build-community button:hover {
    opacity: .6;
}

.feature-blocks {
    width: 88%;
    margin: 0 auto;
    padding: 160px 0px;
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 6px 3px hsl(191, 24%, 91%);
    margin-bottom: 35px;
    border-radius: 15px;
    padding: 50px 25px 50px 120px;
    gap: 150px;
    /* height: 440px; */
    box-sizing: border-box;
}

.feature h2, .build-community h2 {
    font-size: 1.5rem;
}

.feature-text {
    width: 44%;
}
.feature-img {
    width: 46%;
}

.f2 {
    flex-direction: row-reverse;
}

.feature img {
    width: 100%;
    display: flex;
} 

.build {
    width: 88%;
    margin: 150px auto;
    position: relative;
}

.build-community {
    width: 60%;
    margin: 0 auto;
    box-shadow: 0px -2px 5px 0px hsl(191, 24%, 91%);
    background-color: #fff;
    margin-bottom: 35px;
    border-radius: 15px;
    padding: 75px 25px 40px 25px;
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
    left: 20%;
    margin-top: -15%;
    height: 280px;
}

.build-community h2 {
    padding-bottom: 35px;
}

footer {
    background-color:  hsl(192, 100%, 9%);
    padding: 190px 6% 6% 6%;
    color: hsl(208, 11%, 55%);
}

footer ul li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: hsl(208, 11%, 55%);
}

footer a:hover {
    text-decoration: underline;
}

.socials i {
    padding: 0px 5px;
    cursor: pointer;
    font-size: 1.5rem;
}
.socials i:hover {
   color: hsl(322, 100%, 66%);
}

.links li {
    padding-bottom: 30px;
}

.footer-info {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.location, .telephone, .email {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    padding-bottom: 35px;
}

.telephone, .email {
    align-items: center;
}

.footer-logo {
    padding-bottom: 60px;
}

small {
    font-size: 14px;
    float: right;
}

@media screen and (max-width: 1270px) {
    .hero img {
        width: 48%;
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1060px) {
    .feature {
        padding-left: 80px;
        gap: 100px;
    }

    .feature h2 {
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width: 1040px) {
    .hero img {
        width: 45%;
    }

    h1 {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .hero p {
        padding-top: 20px;
    }

    .hero {
        gap: 50px;
    }
}

@media  screen and (max-width: 1020px) {
    .build-community {
        width: 80%;
        left: 10%;
    }

    .footer-info {
        gap: 60px;
    }
}



@media screen and (max-width: 900px) {
    header {
        background-image: url(./images/bg-hero-mobile.svg);
    }

    nav button {
        padding: 13px 40px;
    }

    nav img, .footer-logo img {
        width: 205px;
    }

    .hero img {
        width: 80%;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        margin-top: 120px;
        padding: 0 15px;
    }


    .hero p {
        padding-top: 30px;
    }

    h1 {
        font-size: 2rem;
    }

    .feature {
        flex-direction: column-reverse;
        text-align: center;
        gap: 55px;
        width: 65%;
        margin: 0 auto 35px auto;
        padding-left: 25px;
    }

    .feature-text {
        width: 100%;
    }
    .feature-img {
        width: 100%;
    }

    .build-community {
        width: 100%;
        left: 0%;
        padding: 40px 15px 25px 15px;
        height: 163px;
    }

    .build-community button {
        padding: 10px 40px;
        font-size: .9rem;
    }

    .build-community h2 {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
   

}

@media screen and (max-width: 600px) {
    .feature {
        width: 75%;
    }

    .feature h2 {
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding-bottom: 15px;
    }

    .build {
        margin-top: 95px;
    }
}



@media screen and (max-width: 540px) {

    nav button {
        padding: 8px 20px;
    }

    nav img {
        width: 102px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        margin-top: 80px;
    }

    header {
        padding: 20px 0px 35px 0px;
    }

    .hero img {
        width: 100%;
    }

    .hero-info button {
        padding: 15px 60px;
        font-size: 16px;
    }

    h1 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .hero {
        margin-bottom: 30px;
        gap: 50px;
        margin-top: 90px;
    }

}

@media screen and (max-width: 480px) {
    .feature {
        width: 96%;
    }

    .build-community h2 {
        font-size: .9rem;
        padding-bottom: 20px;
    }
    
     button {
        font-size: .6rem;
    }

}


@media screen and (max-width: 860px) {
    .footer-info {
        display: block;
        /* flex-direction: column; */
    }

    small {
        float: none;
        display: flex;
        justify-content: center;
    }

    .links li {
        padding-bottom: 20px;
    }

    .socials {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 15px;
    }

    footer {
        padding-bottom: 40px;
    }
}